.feature-card{
    background:#ffffff;
    border:1px solid #E5E7EB;
    border-radius:20px;
    transition:all .35s ease;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    cursor:pointer;
}

.feature-card:hover{
    transform:translateY(-10px);
    border-color:#0D6EFD;
    box-shadow:0 18px 40px rgba(13,110,253,.20);
}

.icon-box{
    width:65px;
    height:65px;
    background:#EAF2FF;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}

.icon-box img{
    width:35px;
    transition:.3s;
}

.feature-card:hover .icon-box{
    background:#0D6EFD;
}

.feature-card:hover .icon-box img{
    transform:scale(1.15);
    filter:brightness(0) invert(1);
}
.feature-card h5{
    font-size:18px;
}
.feature-card p{
    font-size:14px;
    line-height:24px;
}